<div class="blog-nav-container">
  <nav class="blog-nav" aria-label="Blog sub-navigation">
    <a 
      href="/blog/" 
      {% if page.url == '/blog/' %}
        class="active"
        aria-current="page"
      {% endif %}>
      Posts
    </a>
    <a 
      href="/blog/tags/" 
      {% if page.url == '/blog/tags/' %}
        class="active"
        aria-current="page"
      {% endif %}>
      Tags
    </a>
    <a 
      href="/blog/archives/" 
      {% if page.url == '/blog/archives/' %}
        class="active"
        aria-current="page"
      {% endif %}>
      Archives
    </a>
  </nav>
</div>