<div class="blog-nav-container">
  <nav class="blog-nav">
    <a href="/blog/" class="{{ 'active' if page.url == '/blog/' }}">Posts</a>
    <a href="/blog/tags/" class="{{ 'active' if page.url == '/blog/tags/' }}">Tags</a>
    <a href="/blog/archives/" class="{{ 'active' if page.url == '/blog/archives/' }}">Archives</a>
  </nav>
</div>