{% set pageTitle = title | formatTitle(metadata.title) %}
{% set pageDescription = description or metadata.description %}

<title>{{ pageTitle }}</title>
<meta name="author" content="{{ metadata.author }}">
<meta name="description" content="{{ pageDescription }}">
<meta name="keywords" content="{{ metadata.keywords }}">

<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:description" content="{{ pageDescription }}" />

<link rel="canonical" href="{{ page.url }}">

{% if config.isProd %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XW753YDG2Z"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XW753YDG2Z');
  </script>
{% endif %}