{% set defaultTitle = "Jun Wei Toh" %}
{% set author = "Jun Wei Toh" %}
{% set defaultDescription = "
  Personal website and blog of Jun Wei Toh, a graduating Computer Science student from Nanyang Technology University. 
  Jun Wei has a keen interest in frontend web development, and he enjoys the occasional writing in his free time.
" %}
{% set keywords = "frontend, web, development, " %}

<title>{{ title | formatTitle(defaultTitle) }}</title>
<meta name="author" content="{{ author }}">
<meta name="description" content="{{ description or defaultDescription }}">

<meta property="og:title" content="{{ title | formatTitle(defaultTitle) }}"/>
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:description" content="{{ description or defaultDescription }}" />

<link rel="canonical" href="{{ page.url }}">

{% if config.isProd %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XW753YDG2Z"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XW753YDG2Z');
  </script>
{% endif %}