<nav class="main-nav-bar">
  <a href="" class="main-nav-home {{ 'active' if page.url == '/' }}">Jun Wei</a>
  <a href="" class="main-nav-item">About</a>
  <a href="" class="main-nav-item">Projects</a>
  <a href="" class="main-nav-item">Blog</a>
</nav>