<nav class="main-nav" aria-label="Main navigation">
  <a 
    href="/" 
    class="main-nav-home {{ 'active' if page.url == '/' }}" 
    {% if page.url == '/' %}
      aria-current="page"
    {% endif %}>
    Jun Wei
  </a>
  <a 
    href="/about/" 
    class="main-nav-item {{ 'active' if page.url == '/about/' }}"
    {% if page.url == '/about/' %}
      aria-current="page"
    {% endif %}>
    About
  </a>
  <a 
    href="/projects/" 
    class="main-nav-item {{ 'active' if page.url == '/projects/' }}"
    {% if page.url == '/projects/' %}
      aria-current="page"
    {% endif %}>
    Projects
  </a>
  <a 
    href="/blog/" 
    class="main-nav-item {{ 'active' if page.url == '/blog/' }}"
    {% if page.url == '/blog/' %}
      aria-current="page"
    {% endif %}>
    Blog
  </a>
</nav>