---
layout: blog
title: Tags
---

{% for tag in collections.blogTags %}
  <section>
    <h1 class="list-header">{{ tag }}</h1>
    <ul class="list-posts">
      {% for post in collections.blogPosts %}
        {% set tagExists = post.data.tags | hasTag(tag) %}
        {% if tagExists %}
          <li class="list-posts-item">
            <span class="list-posts-item-date">[{{ post.data.date | formatDateNumeric }}]</span>
            <a class="list-posts-item-title" href="{{ post.url }}">{{ post.data.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endfor %}

