<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="stylesheet" href="/assets/prism-vsc-dark-plus.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <title>{{ title | formatTitle }}</title>
    <script src="prism.js" defer></script>
  </head>
  <body>
    {% include "../components/nav.njk" %}
    {{ content | safe }}
    {% include "../components/footer.njk" %}
  </body>
</html>