---
layout: layouts/blog.njk
---

<article>
  <h1 class="post-title"><a href={{ post.url }}>{{ title }}</a></h1>
  <div class="post-details">
    <img src="/assets/date.svg" alt="Calendar icon" />
    <span class="post-details-text">{{ date | formatDate }}</span>
    <img src="/assets/clock.svg" alt="Clock icon" />
    <span class="post-details-text">{{ content | readingTime }} read</span>
  </div>
  <p>{{ content | safe }}</p>
  {% if tags %}
    <div class="post-tags">
      {% for tag in (tags | getTags) %}
        <a href="/blog/tags/{{ tag }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}
</article>
{% include "../components/posts-nav.njk" %}