---
layout: page
---

<main class="projects">
  {% for project in projects %}
    <section class="project">
      <img class="project-image" src="/assets/stars-panel.png" alt="STARS Panel screenshot" />
      <div class="project-details">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>
        <div class="project-links">
          <a href={{ project.live }}>Live Demo</a>
          <a href={{ project.github }}>GitHub</a>
        </div>
      </div>
    </section>
  {% endfor %}
</main>