---
layout: blog
---

{% for year in collections.blogYears %}
  <section>
    <h2 class="list-header">{{ year }}</h2>
    <ul class="list-posts">
      {% for post in collections.blogPosts %}
        {% set withinYear = post.date | isWithinYear(year) %}
        {% if withinYear %}
          <li>
            <span class="list-posts-item-date">[{{ post.data.date | formatDateNumeric }}]</span>
            <a class="list-posts-item-title" href={{ post.url }}>{{ post.data.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endfor %}

