---
layout: page
---

<main class="projects">
  {% for project in projects %}
    <section class="project">
      <div class="project-image-container">
        <img class="project-image" src="{{ project.screenshot }}" alt="{{ project.screenshotAlt }}" />
      </div>
      <div class="project-details">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>
        <div class="project-links">
          <a href={{ project.live }}>Live Demo</a>
          <a href={{ project.github }}>GitHub</a>
        </div>
      </div>
    </section>
  {% endfor %}
</main>