.main-nav {
  width: 100%;
  margin: 1.5em 0 2em 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: $header-font;
  font-size: 1.2rem;
  @include breakpoint-sm {
    flex-wrap: wrap;
    justify-content: center;
  }
  & > a {
    text-decoration: none;
    &:link,
    &:visited {
      color: $primary;
    }
    &:hover {
      color: $accent;
    }
  }
  .main-nav-home {
    font-size: 2rem;
    text-transform: uppercase;
    margin-right: auto;
    @include breakpoint-sm {
      width: 100%;
      text-align: center;
      margin-bottom: 8px;
    }
  }
  .main-nav-item {
    margin-left: 1.5em;
    @include breakpoint-sm {
      margin-left: 0;
      padding: 0 0.5em;
    }
  }
  .active {
    color: $accent !important;
    font-weight: 700;
  }
}

.footer {
  margin: 1.5em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: 300;
  a {
    color: $accent;
    text-decoration: none;
    &:visited {
      color: $accent;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.work {
  display: flex;
  margin-bottom: 2em;
  @include breakpoint-sm {
    display: none;
  }
  .work-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .work-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.25em;
      @include breakpoint-sm {
        flex-direction: column;
        gap: 0.25em;
      }
    }
  }
  &-logo {
    height: auto;
    width: 3em;
    margin-right: 1.5em;
    margin-top: 4px;
  }
  &-company {
    font-size: 1em;
    margin: 0;
  }
  &-title {
    color: $accent;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
  }
  &-description {
    padding-left: 1em;
  }
  &-sm {
    display: none;
    @include breakpoint-sm {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;
      .work-details {
        display: flex;
        .work-header {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          gap: 4px;
        }
      }
    }
  }
}

.blog-nav-container {
  display: flex;
  .blog-nav {
    background-color: #efefef;
    box-shadow: 0px 4px 8px rgba(174, 174, 174, 0.25);
    border-radius: 8px;
    padding: 0.5em 1em;
    margin-left: auto;
    margin-bottom: 2em;
    @include breakpoint-sm {
      margin-right: auto;
    }
    a {
      &:link,
      &:visited {
        color: $primary;
        text-decoration: none;
        font-family: $header-font;
      }
      &:not(:last-child) {
        margin-right: 1em;
      }
      &:hover {
        color: $accent;
      }
    }
    .active {
      color: $accent !important;
      font-weight: 700;
    }
  }
}

.posts-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  font-weight: 700;
  &-item {
    display: flex;
    flex-direction: column;
    a {
      &:link,
      &:visited {
        color: $primary;
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &-header {
      color: $accent;
      text-transform: uppercase;
      margin-bottom: 4px;
    }
    &.previous {
      margin-right: auto;
    }
    &.next {
      margin-left: auto;
      text-align: end;
    }
  }
}
