.home {
  @include page-content;
  display: flex;
  flex-direction: column;
  padding: 15%;
  @include breakpoint-sm {
    padding: 10%;
  }
  .hello {
    font-size: 6em;
    color: $accent;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint-sm {
      font-size: 4em;
    }
  }
  .accent {
    color: $accent;
    font-weight: 700;
    text-transform: capitalize;
  }
  a {
    &:link,
    &:visited {
      color: $primary;
    }
  }
}

.about {
  @include page-content;
  & > section:not(section:last-child) {
    margin-bottom: 3em;
  }
  .accent {
    color: $accent;
    font-weight: 700;
  }
  .socials {
    list-style: none;
    padding-left: 1em;
    .social {
      display: flex;
      align-items: center;
      color: $accent;
      .social-logo {
        margin-right: 0.5em;
      }
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.projects {
  @include page-content;
  margin-top: 2em;
  .project {
    display: flex;
    width: 95%;
    min-height: 240px;
    margin: auto;
    margin-bottom: 3em;
    border-radius: 16px;
    background-color: #fcfeff;
    filter: drop-shadow(2px 8px 16px #d9d9d9);
    overflow: hidden;
    @include breakpoint-sm {
      flex-direction: column;
      min-height: 560px;
    }
    &-image {
      height: 100%;
      width: 100%;
      &-container {
        width: 30%;
        border-right: 1px solid #d9d9d9;
        @include breakpoint-sm {
          width: 100%;
          max-height: 50%;
          border-right: 0;
          border-bottom: 1px solid #d9d9d9;
        }
      }
    }
    &-details {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 70%;
      padding: 1em;
      @include breakpoint-sm {
        width: 100%;
      }
      h1 {
        margin: 0;
        text-transform: uppercase;
      }
      .project-links {
        margin-top: auto;
        a {
          margin-right: 1em;
          &:link,
          &:visited {
            color: $accent;
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.blog {
  @include page-content;
  img {
    width: 100%;
    height: auto;
  }
  .post {
    &-preview {
      display: flex;
      flex-direction: column;
      padding: 2em 4px;
      &:first-of-type {
        padding-top: 0;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #b9b9b9;
      }
      p {
        margin: 0;
      }
    }
    &-title {
      margin: 0;
      margin-bottom: 8px;
      a {
        &:link,
        &:visited {
          color: $primary;
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-details {
      display: flex;
      align-items: center;
      margin-bottom: 2em;
      img {
        width: 1em;
        height: 1em;
      }
      &-text {
        font-size: 0.9em;
        font-weight: 300;
        margin-left: 4px;
        margin-right: 2em;
      }
    }
    &-tags {
      margin-top: 1.5em;
    }
    &-tag {
      &:link,
      &:visited {
        background-color: $accent;
        border-radius: 4px;
        color: $background;
        font-weight: 700;
        text-decoration: none;
        padding: 4px 8px;
        margin-right: 0.5em;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .list {
    &-header {
      font-size: 1em;
      margin: 0;
      margin-bottom: 4px;
    }
    &-posts {
      list-style: none;
      padding-left: 0;
      margin: 0;
      margin-bottom: 1em;
      &-item {
        &-date {
          color: $accent;
        }
        &-title {
          text-decoration: none;
          &:link,
          &:visited {
            color: $primary;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
