@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
$primary-font: "Roboto", Arial, Helvetica, sans-serif;
$header-font: "Roboto Slab", "Times New Roman", Garamond, serif;

$background: #fffffa;
$primary: #353839;
$accent: #007fff;
